footer{
    margin-top: 30px;
background-color: #ddd;
padding: 20px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

footer ul li{
    list-style: none;
    padding: 0 10px;
}
footer p{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}